body { /*Vincula la imagen que se va a usar de fondo para la pagina, tambien le asigna cierto parametros para se ajuste a toda la pagina*/
    background-image: url(oceano2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#encabezado{ /*Pone los margenes del logo*/
    margin-top: 20px ;
    margin-left: 20px ;
}
#cuerpo{ /*Alinea el contenido de la pagina*/
    text-align: center;
    margin: 50px; 
    
}
#logo{ /*Modifica el tamaño y el ancho del logo*/
    height: 50px;
    width: auto;
}
#titulo{ /*Ajusta el tamaño y el color del titulo, tambien modifica el color y los bordes al fondo opaco del texto*/
    font-size: 40px;    
    color:rgb(0, 0, 0);
    background-color: rgba(30, 160, 160, 0.50);
    border: 5px;
    border-radius: 10px;
}
#texto{ /*Ajusta la fuente, su tamaño y el color, tambien modifica el color y los bordes al fondo opaco del texto*/
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgba(30, 160, 160, 0.50);
    border: 5px;
    border-radius: 10px;
    font-family:verdana;
    font-weight:500;
}